.header {
  height: 56px;
  display: flex;
  align-items: center;
  background-color: #362f2d;
  padding: 0 calc((100% - 980px)/2);
  position: relative;
}

.header__logo {
  margin-right: 60px;
}

.header__menu-bar {
  margin-right: 33px;
  font-size: 15px;
  color: #fefeff;
  font-weight: 500;
}

.header__ad {
  font-size: 15px;
  color: #c7ff00;
  font-weight: 500;
}

.header__town {
  font-size: 15px;
  position: absolute;
  right: calc(((100% - 980px)/2) + 23px);
  top: 15%;
  color: #fefeff;
  font-weight: 500;
}

.header__city-name {
  padding-bottom: 0;
  border-bottom: 1px  dashed #fffffd;

}


.link {
  text-decoration: none;
  transition: color .2s ease 0s, opacity .25s ease 0s;
  cursor: pointer;
}

.link:hover {
  color: gray;
}

.link_ad:hover {
  color: green;
}

.link:active {
  color: #b9b9b9;
}

.link_ad:active {
  color: #00c200;
}

@media screen and (max-width: 969px) {
  .header {
    padding: 0 calc((100% - 750px)/2);
  }

  .header__logo {
    margin-right: 54px;
  }

  .header__town {
    right: calc(((100% - 750px)/2) + 23px);
  }

}

@media screen and (max-width: 740px) {
  .header__ad {
    display: none;
  }

  .header {
    justify-content: space-between;
    padding: 0 calc((100% - 480px)/2);
  }

  .header__logo {
    margin-right: 0;
  }

  .header__menu-bar {
    margin-right: 0;
  }

  .header__town {
    position: static;
  }

}

@media screen and (max-width: 450px) {
  .header {
    padding: 0 calc((100% - 320px)/2);
  }
  .header__town {
    display: none;
  }
}

