  <div class="banner-box">
    <div class="shortInfo">
      <div class="delivery">
        <p class="delivery__text">Бесплатная доставка</p>
        <span class="delivery__text">|</span>
        <p class="delivery__text">60 дней на возврат</p>
      </div>
      <div class="contacts">
        <div class="contacts__phone-box">
          <p class="contacts__phone">8 800 2000 600</p>
          <small class="contacts__text">Бесплатный звонок по РФ</small>
        </div>
        <button class="contacts__request-call">Заказать звонок</button>
      </div>
    </div>
    <div class="search">
      <form class="search__input-container" name="search">
        <input class="search__input" placeholder="Пример поиска: Велобалт 2015" type="text" required=""
               name="keyword" minlength="2">
      </form>
    </div>
  </div>
