.bicycles-list {
  display: grid;
  grid-template-columns: repeat(4, 242px);
  grid-gap: 2px;
  justify-content: center;
}

.bicycle-card {
  width: 240px;
  background-color: #fff;
  height: 228px;
  cursor: pointer;
  z-index: 1;
  position: relative;
}

.bicycle-card:hover::after{
  content: '';
  display: block;
  width: 242px;
  height: 228px;
  background-color: rgba(0, 0, 0, .3);
  color: #6c6c6c;
  position: absolute;
  top: 0;
  left: 0;
}

.bicycle-card__name {
  margin: 0;
  font-size: 18px;
  line-height: 25px;
  padding-bottom: 0;
  border-bottom: 2px solid #fff;
  color: #fff;
  font-weight: 400;
  white-space: nowrap;
  transition: color .2s ease 0s, opacity .25s ease 0s;
  text-decoration: none;
}
.bicycle-card__name:visited {
  color: #fff;
}

.bicycle-card__description {
  display: flex;
  height: 48px;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  padding: 0 22px;
  background-color: #362f2d;
}

.bicycle-card__image {
  height: 180px;
  background-size: cover;
  background-position: center;
}

.bicycle-card__image[class*="0"] {
 background-image: url("../../images/1.jpg");
}
.bicycle-card__image[class*="1"] {
 background-image: url("../../images/2.jpg");
}
.bicycle-card__image[class*="2"] {
 background-image: url("../../images/3.jpg");
}
.bicycle-card__image[class*="3"] {
 background-image: url("../../images/4.jpg");
}


@media screen and (max-width: 969px) {
  .bicycles-list {
    grid-template-columns: repeat(2, 240px);
    grid-gap: 20px;
  }

  .bicycle-card__image {
    height: 140px;
    background-size: cover;
    background-position: center;
  }
  .bicycle-card {
    height: 188px;
  }
  .bicycle-card:hover::after{
    height: 188px;
  }
}

@media screen and (max-width: 740px) {
  .bicycles-list {
    grid-template-columns: repeat(1, 380px);
    grid-gap: 10px 0;
    margin-bottom: 20px;
  }

  .bicycle-card {
    display: flex;
    width: 380px;
    height: 70px;
    flex-direction: row;
  }

  .bicycle-card__image {
    height: 70px;
    width: 120px;
    flex: 0 120px;
  }
  .bicycle-card:hover::after{
    width: 380px;
    height: 70px;
  }
  .bicycle-card__description {
    height: 70px;
    flex: 1 auto;
      display: flex;
      align-items: center;
      justify-content: flex-start;
  }

  .bicycle-card__name {
    white-space: normal;
  }


}

@media screen and (max-width: 450px) {
  .bicycles-list {
    grid-template-columns: repeat(1, 320px);
    grid-gap: 10px 0;
    margin-bottom: 21px;
  }

  .bicycle-card {
    width: 320px;
  }
  .bicycle-card:hover::after{
    width: 320px;
  }
  .bicycle-card__description {
    padding: 0 20px;
    max-width: 200px;

  }

}
